---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import dayjs from "dayjs";
// Generate a new path for every collection entry
// export async function getStaticPaths() {
//   const blogEntries = await getCollection("blog");
//   return blogEntries.map((entry) => ({
//     params: { slug: entry.slug },
//     props: { entry },
//   }));
// }

// // Get the entry directly from the prop on render
// const { entry } = Astro.props;
// const { Content } = await entry.render();

import { ghostClient } from "../../lib/ghost";
export async function getStaticPaths() {
	const posts = await ghostClient.posts
		.browse({
			limit: "all",
			include: "tags",
		})
		.catch((err: any) => {
			console.error(err);
		});
	return posts?.map((post: any) => {
		return {
			params: {
				slug: post.slug,
			},
			props: {
				post: post,
			},
		};
	});
}
const { post } = Astro.props;
console.log(post)
---

<Layout noName title={post.meta_title || post.title} description={post.meta_description}>
	<style>
		.content-area :global(code) {
			word-wrap: break-word;
			white-space: break-spaces;
			background: #eee;
			padding: 10px;
			margin: 15px 0;
			display: block;
		}
		.content-area :global(p){
			margin-bottom: 20px;
			font-size: 18px;
			line-height: 160%;
		}
		.content-area :global(img){
			margin-bottom: 25px;
		}
	</style>
	<Container>
		<div class="mx-auto max-w-[735px] mt-14">
			<span
				class="text-blue-400 uppercase tracking-wider text-sm font-medium"
			>
				{post.category}
			</span>
			<h1
				class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight"
			>
				{post.title}
			</h1>
			<div class="flex gap-2 mt-3 items-center flex-wrap md:flex-nowrap">
				<time class="text-gray-400" datetime={post.published_at}>
					{dayjs(post.published_at).format('D MMM YYYY')}
				</time>
				<span class="text-gray-400 hidden md:block">•</span>
				<div class="w-full md:w-auto flex flex-wrap gap-3">
					{
						post.tags.map((tag: any) => (
							<span class="text-sm text-gray-500">
								#{tag.name}
							</span>
						))
					}
				</div>
			</div>
			<div class="mx-auto prose prose-lg mt-6 content-area">
				<!-- <Content /> -->
				<Fragment set:html={post.html} />
			</div>
			<div class="text-center mt-8">
				<a
					href="/blog/"
					class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
					>← Back to Blog</a
				>
			</div>
		</div>
	</Container>
</Layout>
