---
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import dayjs from 'dayjs'

import { ghostClient } from '../lib/ghost';
const posts = await ghostClient.posts
.browse({
    limit: 'all',
    include: 'tags'
})
.catch((err: any) => {
    console.error(err);
});
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Blog</Fragment>
      <Fragment slot="desc">
        Stories I wrote
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          posts.map((blogPostEntry: any, index: any) => (
            <li>
              <a href={`/blog/${blogPostEntry.slug}`}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  <Picture
                    src={blogPostEntry.feature_image}
                    alt={blogPostEntry.feature_image_alt}
                    sizes="(max-width: 800px) 100vw, 800px"
                    widths={[200, 400, 800]}
                    aspectRatio="1200:630"
                    background="#ffffff"
                    fit="cover"
                    position="center"
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md"
                  />
                  <div>
                    {blogPostEntry?.tags?.map((item: any) => (
                        <span class="text-blue-400 uppercase tracking-wider text-sm font-medium mr-5">{item.name}</span>
                     ))}

                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {blogPostEntry.title}
                    </h2>

                    <div class="flex gap-2 mt-3">
                      <time
                        class="text-gray-400"
                        datetime={blogPostEntry.published_at}>
                        {dayjs(blogPostEntry.published_at).format('D MMM YYYY')}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
